@page "/"
@using ChartJs.Blazor
@using IncomeFollowUp.Contract
@using IncomeFollowUp.Ui.Helpers

<div class="d-flex justify-center mb-5">
    <MudButton OnClick="PreviousYear" Disabled="IsLoading">
        <MudIcon Icon="@Icons.Material.Filled.ChevronLeft" Title="Previous" />
    </MudButton>
    <div class="d-flex flex-row align-center">
        <MudText Typo="Typo.h6" style="font-weight: bold;"> @Year</MudText>
    </div>
    <MudButton OnClick="NextYear" Disabled="IsLoading">
        <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Title="Next"/>
    </MudButton>
</div>

@if(IsLoading)
{
    <div class="d-flex justify-center mt-5">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
    </div>
}
else
{
    if (!YearlyWorkDaysSummaryDto.MonthlyWorkDaysSummaries.Any())
    {
        <div class="d-flex justify-center mt-5">
            <MudText Typo="Typo.h6">No data available for this year.</MudText>
        </div>
    }
    else
    {
        <div class="cards-container d-flex justify-center gap-4">
            <DashboardCard Text="@($"{YearlyWorkDaysSummaryDto.TotalIncome.ToString("C")}")">
                <ChildContent>
                    <MudIcon style="@($"color:{ColorHelper.Green};font-size: 3rem;")" Icon="@Icons.Material.Filled.ShowChart" />
                </ChildContent>
            </DashboardCard>

            <DashboardCard Text="@($"{YearlyWorkDaysSummaryDto.TotalOutcome.ToString("C")}")">
                <ChildContent>
                    <MudIcon style="@($"color:{ColorHelper.Red};font-size: 3rem;transform: scale(1, -1);")" Icon="@Icons.Material.Filled.ShowChart" />
                </ChildContent>
            </DashboardCard>

            <DashboardCard Text="@($"{YearlyWorkDaysSummaryDto.RemainingVacation} day{(YearlyWorkDaysSummaryDto.RemainingVacation > 1 ? "s" : "")}")">
                <ChildContent>
                    <MudIcon style="font-size: 3rem;" Icon="@Icons.Material.Filled.WbSunny" Color="Color.Warning" />
                </ChildContent>
            </DashboardCard>

            <DashboardCard Text="@($"{BankAccountStatus.ToString("C")}")">
                <ChildContent>
                    <MudIcon style="@($"color:{ColorHelper.Green};font-size: 3rem;")" Icon="@Icons.Material.Filled.ShowChart" />
                </ChildContent>
            </DashboardCard>
        </div>

        <MudTable class="mt-5 mb-5" FixedHeader="true" Items="YearlyWorkDaysSummaryDto.MonthlyWorkDaysSummaries" Hover="true" T="MonthlyWorkDaysSummaryDto" OnRowClick="NavigateToWorkDays">
            <HeaderContent>
                <MudTh>Month</MudTh>
                <MudTh>Total</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Month">@context.Date.ToString("MM/yyyy")</MudTd>
                <MudTd DataLabel="Total">@context.Total.ToString("C")</MudTd>
                <MudTd DataLabel="Actions">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="() => OpenDeleteDialog(context)" />
                </MudTd>
            </RowTemplate>
        </MudTable>
    }

    <div class="float-button">
        <MudFab OnClick="OpenMonthCreationDialog" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
    </div>
}