@page "/"
@using ChartJs.Blazor
@using IncomeFollowUp.Contract

<div class="d-flex justify-center mb-5">
    <MudButton OnClick="PreviousYear" Disabled="IsLoading">
        <MudIcon Icon="@Icons.Material.Filled.ChevronLeft" Title="Previous" />
    </MudButton>
    <div class="d-flex flex-row align-center">
        <MudText Typo="Typo.h6" style="font-weight: bold;"> @Year</MudText>
    </div>
    <MudButton OnClick="NextYear" Disabled="IsLoading">
        <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Title="Next"/>
    </MudButton>
</div>

@if(IsLoading)
{
    <div class="d-flex justify-center mt-5">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
    </div>
}
else
{
    if (!YearlyWorkDaysSummaryDto.MonthlyWorkDaysSummaries.Any())
    {
        <div class="d-flex justify-center mt-5">
            <MudText Typo="Typo.h6">No data available for this year.</MudText>
        </div>
    }
    else
    {
        <MudTable Items="YearlyWorkDaysSummaryDto.MonthlyWorkDaysSummaries" Hover="true" T="MonthlyWorkDaysSummaryDto" OnRowClick="NavigateToWorkDays">
            <ToolBarContent>
                <MudSpacer />
                <MudButton OnClick="GenerateNexMonth" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Add next month</MudButton>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Month</MudTh>
                <MudTh>Total</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Month">@context.Date.ToString("MM/yyyy")</MudTd>
                <MudTd DataLabel="Year">@context.Total€</MudTd>
                <MudTd DataLabel="Actions">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="() => OpenDeleteDialog(context)" />
                </MudTd>
            </RowTemplate>
        </MudTable>

        <div class="mt-5">
            <MudText Typo="Typo.h6">Annual expenses : @YearlyWorkDaysSummaryDto.AnnualExpenses€</MudText>
        </div>
        
         <div class="mt-5">
            <MudText Typo="Typo.h6">Annual incomes : @YearlyWorkDaysSummaryDto.MonthlyWorkDaysSummaries.Sum(mwd => mwd.Total)€</MudText>
        </div>
    
        <div class="mt-5">
            <MudText Typo="Typo.h6">@ExtraDays extra day@(ExtraDays > 1 ? "s" : "") this year</MudText>
        </div>
    }

    <div class="float-button">
        <MudFab OnClick="OpenMonthCreationDialog" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
    </div>
}