@page "/workdays"

@if(IsLoading)
{
    <div class="d-flex justify-center mt-5">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
    </div>
}
else
{
    <div class="d-flex justify-center">
       <div>
            @foreach(var week in WorkDaysByWeek)
            {
                <MudGrid class="my-2" Justify="Justify.FlexStart">
                    @if (week.First().Date.DayOfWeek != DayOfWeek.Monday)
                    {
                        <DayFiller NbDays="week.First().Date.DayOfWeek - DayOfWeek.Monday"/>
                    }

                    @foreach(var day in week)
                    {
                        <MudItem>
                            <div class="month-work-day">
                                <MudPaper
                                    Elevation="1"
                                    onclick="@(() => SwitchWorkDay(day))"
                                    Style="@($"color:{Colors.Gray.Lighten5}; background:{(day.IsWorkDay ? Colors.Green.Darken2 : Colors.Red.Darken2)}; height: 100%;")"
                                >
                                    <div style="font-weight: bold;" class="pl-2 pt-2">@day.Date.Day</div>
                                </MudPaper>
                            </div>
                        </MudItem>
                    }

                    @if (week.Last().Date.DayOfWeek != DayOfWeek.Friday)
                    {
                        <DayFiller NbDays="DayOfWeek.Friday - week.Last().Date.DayOfWeek"/>
                    }
                </MudGrid>
            }
       </div>
    </div>

    <div class="mt-5">
        <MudText Typo="Typo.h6">
            @($"Total month : {TotalMonth} €")
        </MudText>
    </div>
    
    <div class="mt-5">
        <MudText Typo="Typo.h6">
            @($"Total days : {TotalWorkDays} days")
        </MudText>
    </div>

    if (WorkDaysUpdates.Any())
    {
        <div class="mt-5">
            <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Error" OnClick="ResetChanges">Reset</MudButton>
            <MudButton Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" OnClick="SaveChanges">Save</MudButton>
        </div>
    }
}