@page "/year"
@using IncomeFollowUp.Ui.Extensions

<div class="d-flex justify-center">
    <MudButton OnClick="PreviousYear" Disabled="IsLoading">
        <MudIcon Icon="@Icons.Material.Filled.ChevronLeft" Title="Previous" />
    </MudButton>
    <div style="font-weight: bold;" class="d-flex flex-row align-center">@Year</div>
    <MudButton OnClick="NextYear" Disabled="IsLoading">
        <MudIcon Icon="@Icons.Material.Filled.ChevronRight" Title="Next"/>
    </MudButton>
</div>

@if(IsLoading)
{
    <div class="d-flex justify-center mt-5">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
    </div>
}
else
{
    <MudSimpleTable Hover="true" Style="overflow-x: auto;">
        <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var workDaysSummaryDto in WorkDaysSummaryDtos)
            {
                <tr onclick="@(() => NavigateToWorkDays(workDaysSummaryDto))">
                    @foreach (var x in workDaysSummaryDto.GetRow().Split())
                    {
                        <td>@x</td>
                    }
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}